SUPABASE_URL=https://bxtbtaruuthgpgwrnugt.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_vqcrO0568QLXqhNBUzgeIg_5SWBzCL5
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4dGJ0YXJ1dXRoZ3Bnd3JudWd0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjcyOTE0MCwiZXhwIjoyMDkyMzA1MTQwfQ.MV0ITRN8UbDQDpZSFzzl5-dHaLug47LSU1860zO80f0
BCV_INSECURE_SSL=true
OWC_INSECURE_SSL=false